<div class="container-xl">
  <div class="row row-cards">

    <div class="col-md-3">
      <div class="card">
        <div class="card-body">
          <div class="row align-items-center">
            <div class="col">
              <div class="font-weight-medium">
                TOTAL TICKETS
              </div>
              <div class="h3">
                {{ estadisticasGlobales.total_tickets  }}
              </div>
            </div>
            <div class="col-auto">
                    <span class="bg-cyan-lt text-white avatar"><!-- Download SVG icon from http://tabler-icons.io/i/currency-dollar -->
                      <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-ticket" width="40" height="40" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                         <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                         <line x1="15" y1="5" x2="15" y2="7"></line>
                         <line x1="15" y1="11" x2="15" y2="13"></line>
                         <line x1="15" y1="17" x2="15" y2="19"></line>
                         <path d="M5 5h14a2 2 0 0 1 2 2v3a2 2 0 0 0 0 4v3a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-3a2 2 0 0 0 0 -4v-3a2 2 0 0 1 2 -2"></path>
                      </svg>
                    </span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card">
        <div class="card-body">
          <div class="row align-items-center">
            <div class="col">
              <div class="font-weight-medium">
                TICKETS CERRADOS
              </div>
              <div class="h3">
                {{ estadisticasGlobales.tickets_cerrados }}
              </div>
            </div>
            <div class="col-auto">
                    <span class="bg-success-lt text-white avatar"><!-- Download SVG icon from http://tabler-icons.io/i/currency-dollar -->
                      <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-discount-check" width="40" height="40" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                         <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                         <path d="M5 7.2a2.2 2.2 0 0 1 2.2 -2.2h1a2.2 2.2 0 0 0 1.55 -.64l.7 -.7a2.2 2.2 0 0 1 3.12 0l.7 .7c.412 .41 .97 .64 1.55 .64h1a2.2 2.2 0 0 1 2.2 2.2v1c0 .58 .23 1.138 .64 1.55l.7 .7a2.2 2.2 0 0 1 0 3.12l-.7 .7a2.2 2.2 0 0 0 -.64 1.55v1a2.2 2.2 0 0 1 -2.2 2.2h-1a2.2 2.2 0 0 0 -1.55 .64l-.7 .7a2.2 2.2 0 0 1 -3.12 0l-.7 -.7a2.2 2.2 0 0 0 -1.55 -.64h-1a2.2 2.2 0 0 1 -2.2 -2.2v-1a2.2 2.2 0 0 0 -.64 -1.55l-.7 -.7a2.2 2.2 0 0 1 0 -3.12l.7 -.7a2.2 2.2 0 0 0 .64 -1.55v-1"></path>
                         <path d="M9 12l2 2l4 -4"></path>
                      </svg>
                    </span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card">
        <div class="card-body">
          <div class="row align-items-center">
            <div class="col">
              <div class="font-weight-medium">
                TICKETS NUEVOS
              </div>
              <div class="h3">
                {{ estadisticasGlobales.tickets_nuevos }}
              </div>
            </div>
            <div class="col-auto">
                    <span class="bg-warning-lt text-white avatar"><!-- Download SVG icon from http://tabler-icons.io/i/currency-dollar -->
                      <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-bell-ringing" width="40" height="40" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                         <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                         <path d="M10 5a2 2 0 0 1 4 0a7 7 0 0 1 4 6v3a4 4 0 0 0 2 3h-16a4 4 0 0 0 2 -3v-3a7 7 0 0 1 4 -6"></path>
                         <path d="M9 17v1a3 3 0 0 0 6 0v-1"></path>
                         <path d="M21 6.727a11.05 11.05 0 0 0 -2.794 -3.727"></path>
                         <path d="M3 6.727a11.05 11.05 0 0 1 2.792 -3.727"></path>
                      </svg>
                    </span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card">
        <div class="card-body">
          <div class="row align-items-center">
            <div class="col">
              <div class="font-weight-medium">
                TICKETS PROCESADOS
              </div>
              <div class="h3">
                {{ estadisticasGlobales.tickets_procesados }}
              </div>
            </div>
            <div class="col-auto">
                    <span class="bg-primary-lt text-white avatar"><!-- Download SVG icon from http://tabler-icons.io/i/currency-dollar -->
                      <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-cpu" width="40" height="40" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                          <rect x="5" y="5" width="14" height="14" rx="1"></rect>
                          <path d="M9 9h6v6h-6z"></path>
                          <path d="M3 10h2"></path>
                          <path d="M3 14h2"></path>
                          <path d="M10 3v2"></path>
                          <path d="M14 3v2"></path>
                          <path d="M21 10h-2"></path>
                          <path d="M21 14h-2"></path>
                          <path d="M14 21v-2"></path>
                          <path d="M10 21v-2"></path>
                        </svg>
                    </span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-8 col-sm-12">
      <div class="card">
        <h3 class="card-header">TICKETS PERFORMANCE</h3>
        <div class="card-body">
          <div class="row">
            <div class="col">
              <div id="chart-line"></div>
            </div>
            <div class="col-md-auto">
              <div class="divide-y divide-y-fill">
                <div class="px-3">
                  <div class="text-muted">
                    <span class="status-dot bg-danger"></span> Incidencia
                  </div>
                  <div class="h2">{{ estadisticasGlobales.total_incidentes }}</div>
                </div>
                <div class="px-3">
                  <div class="text-muted">
                    <span class="status-dot bg-azure"></span> Consulta
                  </div>
                  <div class="h2">{{ estadisticasGlobales.total_consultas }}</div>
                </div>
                <div class="px-3">
                  <div class="text-muted">
                    <span class="status-dot bg-green"></span> General
                  </div>
                  <div class="h2">{{ estadisticasGlobales.total_general }}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-sm-12">
      <div class="card">
        <h3 class="card-header">TICKETS ACTIVOS PROCESADOS</h3>
        <div class="card-body">
          <div id="chart-pie"></div>
        </div>
      </div>
    </div>

    <div class="col-12">
      <div class="card">
        <h3 class="card-header">TICKETS RECIENTES</h3>
        <app-tickets-nuevos [hideProcessarButton]="true"></app-tickets-nuevos>
      </div>
    </div>

  </div>
</div>
