<div class="page page-center">
  <div class="container container-tight py-4">
    <div class="card card-md">
      <div class="card-body">
        <h2 class="h2 text-center mb-4">Inicio de sesión</h2>
        <div>
          <div class="mb-3">
            <label class="form-label">Usuario</label>
            <input type="text" class="form-control" placeholder="Ingresar usuario" autocomplete="off" [(ngModel)]="this.username">
          </div>
          <div class="mb-2">
            <label class="form-label">
              Contraseña
            </label>
            <div class="input-group input-group-flat">
              <input type="password" class="form-control"  placeholder="Ingresar contraseña"  autocomplete="off" [(ngModel)]="this.password">
              <span class="input-group-text">
                    <a href="#" class="link-secondary" title="Show password" data-bs-toggle="tooltip"><!-- Download SVG icon from http://tabler-icons.io/i/eye -->
                      <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><circle cx="12" cy="12" r="2" /><path d="M22 12c-2.667 4.667 -6 7 -10 7s-7.333 -2.333 -10 -7c2.667 -4.667 6 -7 10 -7s7.333 2.333 10 7" /></svg>
                    </a>
                  </span>
            </div>
          </div>
          <div class="form-footer">
            <button (click)="redirectToDashboard()" class="btn btn-primary w-100">Ingresar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
