<table class="table table-vcenter table-mobile-md card-table">
  <thead>
  <tr>
    <th>ID</th>
    <th>Título</th>
    <th>Descripción</th>
    <th>Creado por</th>
    <th>Asignado a</th>
    <th>Clasificación</th>
    <th>Urgencia</th>
    <th>Impacto</th>
    <th class="w-1"></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let ticket of ticketsCerrados">
    <td data-label="title">
      <div class="text-muted">{{ ticket.id }}</div>
    </td>
    <td data-label="title">
      <div class="text-muted">{{ ticket.titulo }}</div>
    </td>
    <td data-label="description">
      <div class="text-muted">
        {{ ticket.descripcion }}
      </div>
    </td>
    <td class="text-muted" data-label="created_by">
      {{ ticket?.usuario?.nombres }} {{ ticket?.usuario?.apellidos }}
    </td>
    <td class="text-muted" data-label="asigned_to">
      {{ ticket?.asignado?.nombres }} {{ ticket?.asignado?.apellidos }}
    </td>
    <td class="text-muted" data-label="type">
      <span class="status status-{{ ticket.categoria ? ticket.categoria.color : '' }}">
        {{ ticket.categoria ? ticket.categoria.descripcion : '' }}
      </span>
    </td>
    <td class="text-muted" data-label="urgency">
      <span class="badge bg-{{ ticket.urgencia ? ticket.urgencia.color : '' }} me-1"></span>{{ ticket.urgencia ? ticket.urgencia.descripcion : '' }}
    </td>
    <td class="text-muted" data-label="impact">
      <span class="badge bg-{{ ticket.impacto ? ticket.impacto.color : '' }} me-1"></span>{{ ticket.impacto ? ticket.impacto.descripcion : '' }}
    </td>
    <td>
      <app-ticket-detalle
        [ticket]="ticket"
        [readOnly]="true"
        [nombreFormulario]="'Detalle del Ticket #' + ticket.id"
        [modalId]="'cerrado-ticket-' + ticket.id" [usuariosSoporte]="usuariosSoporte"
      >
      </app-ticket-detalle>
      <div class="btn-list flex-nowrap">
        <button class="btn btn-vk" data-bs-toggle="modal" [attr.data-bs-target]="'#cerrado-ticket-'+ticket.id">
          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-list-details" width="40" height="40" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path d="M13 5h8"></path>
            <path d="M13 9h5"></path>
            <path d="M13 15h8"></path>
            <path d="M13 19h5"></path>
            <rect x="3" y="4" width="6" height="6" rx="1"></rect>
            <rect x="3" y="14" width="6" height="6" rx="1"></rect>
          </svg>
          Detalle
        </button>
      </div>
    </td>
  </tr>
  </tbody>
</table>
